/**
*Initial styles
--------------------------------------------------------*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, strong, img, a, blockquote, pre, abbr, address, cite, code, del, dfn, ins, kbd, q, samp, small, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, input, textarea, button, select, option, optgroup, legend, table, caption, tbody, tfoot, thead, tr, th, td, col, colgroup, object, param, map, area, iframe, bdo, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	padding: 0;
	margin: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	font: normal 16px 'Maven Pro', Helvetica, sans-serif;
	color: #444a5e;
	background: #fff;
}
a {
	outline: none;
	color: #006dc7;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
img, fieldset {
	border:0;
}
img, input, select, label {
	vertical-align: middle;
}
.clear {
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}

#left {height: 536px; width: 95%; background: url(left.jpg) no-repeat; margin-top: 100px; margin-left: 5%;}
#right {height: 536px; width: 95%; margin-right: 5%; background: url(right.jpg) no-repeat 100% 0; position: relative; }

#logo {width: 292px; height: 49px; position: absolute; top: 10px; left: 0;}
#logo h1 {width: 292px; height: 49px; text-indent: -9999px; background: url(logo.png) no-repeat;}

#address {position: absolute; top: 20px; right: 0; text-transform: uppercase; font-size: 18px; text-align: right; border-right: 14px solid #ab0005; padding-right: 15px;}
#contact {position: absolute; bottom: 50px; right: 0; text-transform: uppercase; font-size: 18px; text-align: right; border-right: 14px solid #ab0005; padding-right: 15px;}
#contact a {text-transform: none;}

#text {text-align: center; text-transform: uppercase; padding-top: 120px; font-size: 30px; font-weight: 500; color: #5e6476; line-height: 110%;}

#copy_wrap {width: 100%; text-align: center; padding-bottom: 30px; margin-top: 30px;}
#copy {width: 350px; margin: 0 auto; padding-top: 30px; border-top: 2px solid #9ea2ae;}

red: ab0005