h3 {
	margin: 0 0 6px 0;
	font: 36px/36px 'gotham_probold';
	text-transform: uppercase;
}

h4 {
	margin: 0 0 29px 0;
	font: 36px/36px 'gotham_prolight';
}

.page._wwd {
	background: url("../img/wwdBg1.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.sideScreenNav._red .sideScreenNav-i-ln {
	border: 3px solid rgba(255, 0, 0, .5);
}

.sideScreenNav._red .sideScreenNav-i:hover .sideScreenNav-i-ln {
	width: 14px;
	height: 14px;
	border: 1px solid #f00;
}

.sideScreenNav._red .sideScreenNav-i._act .sideScreenNav-i-ln {
	width: 14px;
	height: 14px;
	border: 1px solid #f00;
	cursor: default;
}

.main-col {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 1300px;
}

.main-col p {
	margin: 0 0 15px 0;
	font: 18px/32px 'gotham_proregular';
}

.main-col p strong {
	font-family: 'gotham_promedium';
	font-weight: normal;
}

.schemeWrp {
	position: absolute;
	width: 30%;
    top: 4%;
    right: 0;
}

.scheme .circle {
	position: absolute;
	width: 62%;
	height: 62%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 50%;
}

.scheme .circle._1 {
	top: 0;
	left: 19%;
	color: #ef4135;
	border: 5px solid #ef4135;
}

.scheme .circle._2 {
	right: 0;
	top: 19%;
	color: #1f9ab5;
	border: 5px solid #1f9ab5;
}

.scheme .circle._3 {
	bottom: 0;
	left: 19%;
	color: #5bb858;
	border: 5px solid #5bb858;
}

.scheme .circle._4 {
	left: 0;
	top: 19%;
	color: #b857b9;
	border: 5px solid #b857b9;
}

.scheme .circle .num {
	display: block;
	width: 24px;
	height: 24px;
	text-align: center;
	position: absolute;
	font: 24px/24px 'gotham_probold';
}

.scheme .circle._1 .num {
	top: 33px;
	left: 50%;
	margin-left: -14px;
}

.scheme .circle._2 .num {
	right: 35px;
	top: 50%;
	margin-top: -12px;
}

.scheme .circle._3 .num {
	bottom: 33px;
	left: 50%;
	margin-left: -14px;
}

.scheme .circle._4 .num {
	left: 35px;
	top: 50%;
	margin-top: -12px;
}

.scheme .circle._exp{
	width: 36%;
	height: 36%;
	left: 32%;
	top: 32%;
	background: #ef4135 url(../img/exp.jpg) no-repeat 50%;
}

.colored-block{
	display: inline-block;
	padding:21px 30px;
	margin:10px 15px 10px 0;
	min-width:150px;
	color: #fff;
	font: 12px/12px 'gotham_promedium';
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 8px;
	cursor: default;
}

.colored-block._red{
	background:#ef4135;
}
.colored-block._blue{
	background:#1f9ab5;
}
.colored-block._green{
	background:#5bb858;
}
.colored-block._violet{
	background:#b857b9;
}

.schemeInn {
    width: 100%;
    height: 0;
    padding-top: 100%;
}