/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@font-face {
    font-family: 'futura_newlight';
    src: url('../fonts/futuranewlight-webfont.eot');
    src: url('../fonts/futuranewlight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/futuranewlight-webfont.woff') format('woff'), url('../fonts/futuranewlight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_probold';
    src: url('../fonts/gothaprobol-webfont.eot');
    src: url('../fonts/gothaprobol-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gothaprobol-webfont.woff') format('woff'), url('../fonts/gothaprobol-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_prolight';
    src: url('../fonts/gothaprolig-webfont.eot');
    src: url('../fonts/gothaprolig-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gothaprolig-webfont.woff') format('woff'), url('../fonts/gothaprolig-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_promedium';
    src: url('../fonts/gothapromed-webfont.eot');
    src: url('../fonts/gothapromed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gothapromed-webfont.woff') format('woff'), url('../fonts/gothapromed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_proregular';
    src: url('../fonts/gothaproreg-webfont.eot');
    src: url('../fonts/gothaproreg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gothaproreg-webfont.woff') format('woff'), url('../fonts/gothaproreg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

html, body {
    height: 100%;
    min-width: 960px;
}

body {
    overflow-y: hidden;
}

.page {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 147px;
    font-family: futura_newlight, arial, sans-serif;
    overflow: hidden;
    position: relative;
}

.page._contacts {
    padding-top: 98px;
}

.page._index {
    padding-top: 0;
}

.screen {
    height: 100%;
    padding: 3% 5%;
    text-align: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background: rgba(255, 255, 255, 1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

/*.screen:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2%;
    background: url("../img/arr-bot.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}*/

.screen._first {
    background: transparent;
    -webkit-transition-timing-function: cubic-bezier(.77, .98, 1, 1);
    -moz-transition-timing-function: cubic-bezier(.77, .98, 1, 1);
    -ms-transition-timing-function: cubic-bezier(.77, .98, 1, 1);
    -o-transition-timing-function: cubic-bezier(.77, .98, 1, 1);
    transition-timing-function: cubic-bezier(.77, .98, 1, 1);
}

.screen._first:before {
    position: relative;
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
}
.screen._firstFullWidth {
    padding-left: 0;
    padding-right: 0;
}
.screen._firstFullWidth:before {
    display: none;
}
.screen._firstFullWidth .screen-t {
    margin: 0.625rem auto 3.125rem; 
    letter-spacing: 0;
}
.screen._firstFullWidth .col {
    border-top: 1px solid rgba(184, 184, 184, 0.2);
    border-left: 1px solid rgba(184, 184, 184, 0.2);
}
.screen._firstFullWidth .col:first-child {
    border-left: none;
}
.screen._firstFullWidth .col:hover {
    background: #fff;
}
.screen._contacts {
    position: relative;
}

.screen._index {
    padding: 0;
    white-space: nowrap;
    font-size: 0;
    overflow: visible;
    -webkit-transition: -webkit-transform 1.5s;
    -moz-transition: -moz-transform 1.5s;
    -ms-transition: -ms-transform 1.5s;
    -o-transition: -o-transform 1.5s;
    transition: transform 1.5s;
}

.screen-cont {
    margin: auto;
    height: 100%;
    max-width: 1400px;
    text-align: left;
}

.head {
    position: fixed;
    height: 98px;
    background: #ffffff;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    min-width: 960px;
    font-family: gotham_promedium,arial,sans-serif;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.navLogo {
    width: 213px;
}

.head._index {
    background: transparent;
}

.head._index .mainNav-i-ln {
    color: #ffffff;
}

.head:before {
    content: "";
    position: relative;
    height: 100%;
    display: inline-block;
    margin-left: -5px;
    vertical-align: middle;
}

.mainNav {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    letter-spacing: 1px;
}

.mainNav-i {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s;
    border-radius:20px;
}

.mainNav-i._logo {
    padding: 0;
    margin: 0 45px;
}
.mainNav-i:hover {
    background: #ededed;
}
._index .mainNav-i:hover {
    background: rgba(255, 255, 255, 0.22);
}
.mainNav-i._logo:hover {
    background: none;
}
.mainNav-i._logo .mainNav-i-ln {
    padding: 0;
    border: 0;
}

.mainNav-i-ln {
    font-family: gotham_promedium, arial, sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    color: #000000;
    display: inline-block;
    padding: 13px 22px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.mainNav-i._act {
    color: #ffffff;
    background: #ef4135;
    border-radius: 20px;
    cursor: default;
}

.mainNav-i._act .mainNav-i-ln {
    color: #ffffff;
}

.subNavHolder {
    background: #ef4135;
}
.subNav {
    height: 49px;
    font-size: 0;
    display: table;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.subNav-i:before {
    content: "";
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
/*
.subNav-i:after {
    content: "";
    position: absolute;
    border-top: 0 solid #ef4135;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: border-top .2s;
    -moz-transition: border-top .2s;
    -ms-transition: border-top .2s;
    transition: border-top .2s;
}
.subNav-i._act:after {
    border-top: 9px solid #000000;
}
*/
.subNav-i {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
    padding: 0 14px 0;
    display: table-cell;
    position: relative;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    transition: background .2s;
}

.subNav-i:hover {
    background: #c92127;
}

.subNav-i > span {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 3em;
}

.vacancy-count {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background: #000;
    color: #ef4135;
    line-height: 21px;
}

.subNav-i._act .vacancy-count {
    background: #fff;
    color: #000;
}

@media (max-width: 1280px) {
    html, body {
        font-size: 14px;
    }
}

@media (max-width: 1110px) {
    html, body {
        font-size: 12px;
    }

    .subNav-i > span {
        font-size: 0.6rem;
    }
}

@media (max-width: 1050px) {
    html, body {
        font-size: 10px;
    }
}

@media (max-width: 1000px) {

}

.subNav-i._act {
    background: #000000;
    cursor: default;
}

.sideScreenNav {
    position: absolute;
    right: 2%;
    width: 14px;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 99px;
    z-index: 2;
}

.sideScreenNav-i {
    height: 14px;
    width: 14px;
    margin-bottom: 30px;
}

.slideControls-dots-i {
    width: 14px;
    height: 14px;
    text-align: center;
    margin-left: 30px;
    display: inline-block;
    cursor: pointer;
}

.sideScreenNav-i-ln, .slideControls-dots-i-ln {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, .5);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    display: inline-block;
    vertical-align: middle;
}

._first .sideScreenNav-i-ln {
    border: 3px solid rgba(239, 65, 53, .5);
}

.sideScreenNav-i:hover {
    z-index: 3;
}

.sideScreenNav-i:hover .sideScreenNav-i-ln,
.slideControls-dots-i:hover .slideControls-dots-i-ln {
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
}

._first .sideScreenNav-i:hover .sideScreenNav-i-ln {
    border: 1px solid #ef4135;
}

.sideScreenNav-i._act .sideScreenNav-i-ln,
.slideControls-dots-i._act .slideControls-dots-i-ln {
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
    cursor: default;
}

._first .sideScreenNav-i._act .sideScreenNav-i-ln {
    width: 14px;
    height: 14px;
    border: 1px solid #ef4135;
    cursor: default;
}

.screen-t {
    font-family: gotham_probold, arial, sans-serif;
    font-size: 5rem;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    max-width: 60rem;
    margin-top: 0;
    white-space: normal;
}

.firstScreen-tx {
    font-family: gotham_prolight, arial, sans-serif;
    font-size: 2.25rem;
    line-height: 1.428571428571429em;
    color: #ffffff;
    text-align: center;
    max-width: 60rem;
    margin-bottom: 4.5rem;
}

.screen-centeredCont {
    display: inline-block;
    vertical-align: middle;
}

.page._about {
    background: url("../img/aboutBg1.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.page._career {
    -webkit-background-size: cover;
    background-size: cover;
}

.cols {
    font-size: 0;
    height: 100%;
    text-align: center;
}

.col {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}
.taCenter {
    text-align: center;
}
.col._librery {
    text-align: center;
    padding-bottom: 15%;
}

.col._vacs {
    width: 452px;
}

.col._withBtn {
    height: 87%;
    position: relative;
}
._withStickBtn {
    position: relative;
}
._withStickBtn .btnHolder {
    position: absolute;
    bottom: 0;
}
.col._1568 {
    width: 15.685%;
}

.col._17 {
    width: 17%;
}

.col._20 {
    width: 20%;
}

.col._2215 {
    width: 22.15%;
}

.col._26625 {
    width: 26.625%;
}

.col._28 {
    width: 28%;
}

.col._30625 {
    width: 30.625%;
}

.col._30 {
    width: 30%;
}

.col._32 {
    width: 32%;
}

.col._33 {
    width: 33.3333332%;
}

.col._34 {
    width: 34%;
}

.col._35 {
    width: 35%;
}

.col._377 {
    width: 37.7%;
}

.col._40 {
    width: 40%;
}

.col._45 {
    width: 45%;
}

.col._50 {
    width: 50%;
}

.col._60 {
    width: 60%;
}

.col._623 {
    width: 62.3%;
}

.col._65 {
    width: 65%;
}

.col._70 {
    width: 70%;
}

.col._7785 {
    width: 77.65%;
}

.col._100 {
    width: 100%;
}

.col-cont {
    margin-right: 10%;
    height: 100%;
}
.gal-pop-cont .col-cont {
    height: 100%;
}

.col-cont._nomr {
    margin-right: 0;
}

.numsWeLove-i {
    margin: 0 10% 20% 0;
    min-height: 7rem;
}

.numsWeLove-i:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.numsWeLove-i-num {
    color: #354bef;
    font-size: 2.5rem;
    margin-bottom: 7%;
    font-family: gotham_probold, arial, sans-serif;
}
.emph-tx {
    line-height: 1.375rem;
}
.scrollCont .emph-tx {
    margin-bottom: 2.25rem;
}
.numsWeLove-i-tx {
    font-size: 1.125rem;
    line-height: 1em;
    margin: 0;
}

h2 {
    font-size: 2.25rem;
    line-height: 1.2em;
    font-family: gotham_probold, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 .75em;
}

h2._nomb {
    margin-bottom: 0;
}

h2._tal {
    text-align: left;
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.25em;
    margin: 0 0 .5em;
    font-weight: normal;
    font-family: gotham_proregular, arial, sans-serif;
}
.title_med {
    font-size: 1.875rem;
    margin-bottom: 1.438rem;
}

h5 {
    font-size: 1.5rem;
    line-height: 1.3em;
    font-weight: normal;
    margin: 0 0 .5em;
    font-family: futura_newlight, arial, sans-serif;
}

p {
    font-family: gotham_proregular, arial, sans-serif;
    font-size: 1rem;
    line-height: 1.875rem;
    margin: 0 0 .5em;
}

.italic {
    font-style: italic;
    color: #a3a3a3;
    margin-bottom: 1.438rem;
}

.scrollCont p {
    margin-bottom: 2rem;
}

.scrollCont p:first-child {
    font-size: 1.375rem;
    line-height: 2.125rem;
    font-family: gotham_prolight, arial, sans-serif;
}

.vac-pop-cont .scrollCont p:first-child {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: gotham_proregular, arial, sans-serif;
}

p._tal {
    text-align: left;
    margin-left: 0;
}

p._mb {
    margin-bottom: 1.5rem;
}

.emph-tx._tal {
    text-align: left;
    margin-left: 0;
}

.emph-tx._mb {
    margin-bottom: 3rem;
}

.btn {
    background: #ef4135;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    font-family: gotham_promedium, arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1em;
    padding: 1.25rem 2.5rem;
    border: none;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn:hover {
    background: #c92127;
}

.btn._col {
    margin-top: 1rem;
}

.btn._green {
    background: #37bb29;
}

.btn._green:hover {
    background: #459143;
}

.contentPic {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    border: none;
}

.contentPic._centered {
    float: right;
}

.contentVideo {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.screen._video {
    position: relative;
    background: transparent;
}

.tabs {
    font-size: 0;
    padding-bottom: 5%;
}   

.tabs-i {
    display: inline-block;
    vertical-align: top;
    /*-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
    background: #fff;
    /*border: 3px solid #ef4135;*/
    border: 1px solid #d2d2d2;
    padding: 0 3%;
    /*height: 3.5rem;*/
    height: 3.375rem;
    min-width: 10rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    /*margin-left: 20px;*/
    margin-left: -1px;
    position: relative;
    /*color: #ef4135;*/
    color: #000;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

/*.tabs-i:after {
    content: "";
    position: absolute;
    border-top: 0 solid #ef4135;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    top: 3.5rem;
    margin-top: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: border-top .2s;
    -moz-transition: border-top .2s;
    -ms-transition: border-top .2s;
    -o-transition: border-top .2s;
    transition: border-top .2s;
}*/


.tabs-i:hover,
.tabs-i._act {
    background: #ef4135;
    color: #ffffff;
    border-color: #ef4135;
    z-index: 2;
}

.tabs-i:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.tabs-i:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.tabs-i._act {
    cursor: default;
}

.tabs-i._act:after {
    border-top: 9px solid #ef4135;
}

.tabs._blue .tabs-i {
    border-color: #1f9ab5;
    color: #1f9ab5;
}

.tabs._blue .tabs-i:hover {
    background: #1f9ab5;
    color: #ffffff;
}

.tabs._blue .tabs-i._act {
    background: #1f9ab5;
    color: #ffffff;
}

.tabs._blue .tabs-i._act:after {
    border-top: 9px solid #1f9ab5;
}

.tabs._green .tabs-i {
    border-color: #5bb858;
    color: #5bb858;
}

.tabs._green .tabs-i:hover {
    background: #5bb858;
    color: #ffffff;
}

.tabs._green .tabs-i._act {
    background: #5bb858;
    color: #ffffff;
}

.tabs._green .tabs-i._act:after {
    border-top: 9px solid #5bb858;
}

.tabs._violet .tabs-i {
    border-color: #b857b9;
    color: #1f9ab5;
}

.tabs._violet .tabs-i:hover {
    background: #b857b9;
    color: #ffffff;
}

.tabs._violet .tabs-i._act {
    background: #b857b9;
    color: #ffffff;
}

.tabs._violet .tabs-i._act:after {
    border-top: 9px solid #b857b9;
}

.tabs-i:before {
    content: "";
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.tabs-i-tx {
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: gotham_promedium, arial, sans-serif;
    display: inline-block;
    vertical-align: middle;
}

.tab-cont {
    display: none;
}

.tab-cont._act {
    display: block;
}
.tabsWideControls {
    display: table;
    width: 100%;
    padding-bottom: 3.5%;
}
.tabsWideControls .tabs-i {
    display: table-cell;
}

.title-desc {
    font-size: 1.5rem;
    line-height: 1;
    font-family: futura_newlight, arial, sans-serif;
}

.partners {
    font-size: 0;
}

.partners-i {
    display: inline-block;
    width: 25%;
    height: 125px;
    line-height:125px;
    /*margin: 0 5% 5% 0;*/
    /*padding: 5% 0;*/
    text-align: center;
    vertical-align: top;
/*
    background: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.39);
*/
}

.partners-i img {
    /*max-height: 90%;
    max-width: 70%;*/
    display: inline-block;
    vertical-align: middle;
}

.galPrevs {
    margin: 0 0 3%;
}

.galPrevs-cont {
    border-collapse: separate;
    margin: 0 auto;
}

.galPrevs-i {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 10px 10px;
    position: relative;
    cursor: pointer;
}

.galPrevs-i._noMargin {
    margin-left: 0;
}

.galPrevs-i-pic {
    width: 100%;
}

.galPrevs-i:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: transparent;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
}

.galPrevs-i:before {
    content: "";
    position: absolute;
    background: url("../img/zoom.png") center center no-repeat;
    width: 100%;
    height: 100%;
    top: -10%;
    left: 0;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.galPrevs-i:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
    background: rgba(239, 65, 53, 0.50);
}

.galPrevs-i:hover:before {
    top: 0;
    opacity: 1;
}

.galDesc {
    text-align: center;
    font-family: gotham_prolight, arial, sans-serif;
}
.galDesc h1 {
    font-size: 2.063rem;
    font-weight: normal;
    letter-spacing: 1px;
}

h6 {
    font-family: gotham_proregular, arial, sans-serif;
    font-size: 2.25rem;
    margin: 0 0 .5em;
    line-height: 1.3em;
    font-weight: normal;
}

h6._nomb {
    margin-bottom: 0;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.77777777778em;
    margin: 0 0 .5em;
    font-family: gotham_proregular, arial, sans-serif;
    font-weight: normal;
}

.play {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 9px solid #ef4135;
    width: 261px;
    height: 260px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: .7;
    -webkit-transform: translateZ(0);
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.play-ico {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    right: 0;
    margin: auto;
    width: 96px;
    max-width: 45%;
    -webkit-transform: translateZ(0)
}

.play:hover {
    opacity: 1;
}

.play-desc {
    font-size: 3.75rem;
    line-height: 1.166666em;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    font-family: futura_newlight, arial, sans-serif;
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
}

.popup {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -ms-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}

.page._wwd {
    background: url("../img/wwdBg1.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.sideScreenNav._red .sideScreenNav-i-ln {
    border: 3px solid rgba(255, 0, 0, .5);
}

.sideScreenNav._red .sideScreenNav-i:hover .sideScreenNav-i-ln {
    width: 14px;
    height: 14px;
    border: 1px solid #f00;
}

.sideScreenNav._red .sideScreenNav-i._act .sideScreenNav-i-ln {
    width: 14px;
    height: 14px;
    border: 1px solid #f00;
    cursor: default;
}

.main-col {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 1300px;
}

.main-col p {
    margin: 0 0 15px 0;
    font: 18px/32px 'gotham_proregular';
}

.main-col p strong {
    font-family: 'gotham_promedium', arial, sans-serif;
    font-weight: normal;
}

.schemeWrp {
    position: absolute;
    z-index: 1;
    width: 27%;
    top: 198px;
    margin-top: 4%;
    right: 7%;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
    transform: translateY(-10%);
    opacity: 0;
    visibility: hidden;
}

.scheme .circle {
    position: absolute;
    width: 62%;
    height: 62%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}

.scheme .circle._1 {
    top: 0;
    left: 19%;
    color: #ef4135;
    border: 5px solid #ef4135;
}

.scheme .circle._2 {
    right: 0;
    top: 19%;
    color: #1f9ab5;
    border: 5px solid #1f9ab5;
}

.scheme .circle._3 {
    bottom: 0;
    left: 19%;
    color: #5bb858;
    border: 5px solid #5bb858;
}

.scheme .circle._4 {
    left: 0;
    top: 19%;
    color: #b857b9;
    border: 5px solid #b857b9;
}

.scheme .circle .num {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    position: absolute;
    font: 24px/24px 'gotham_probold';
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

.scheme .circle._1 .num {
    top: 33px;
    left: 50%;
    margin-left: -14px;
}

.scheme .circle._2 .num {
    right: 35px;
    top: 50%;
    margin-top: -12px;
}

.scheme .circle._3 .num {
    bottom: 33px;
    left: 50%;
    margin-left: -14px;
}

.scheme .circle._4 .num {
    left: 35px;
    top: 50%;
    margin-top: -12px;
}

.scheme .circle._exp {
    width: 36%;
    height: 36%;
    left: 32%;
    top: 32%;
    z-index: 3;
    background: #ef4135 url(../img/exp.jpg) no-repeat 50%;
    border: 5px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.scheme .circle._exp._act {
    border: 5px solid #ef4135;
}

.colored-block {
    display: inline-block;
    padding: 19px 30px 18px;
    margin: 10px 15px 10px 0;
    min-width: 150px;
    color: #fff;
    font: 12px/12px 'gotham_promedium';
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: default;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
}

.colored-block._red {
    background: #ef4135;
}

.colored-block._red:hover {
    background: #c92127;
}

.colored-block._red:active {
    background: #a72a31;
}

.colored-block._blue {
    background: #1f9ab5;
}

.colored-block._blue:hover {
    background: #0f7c94;
}

.colored-block._blue:active {
    background: #1f6c7f;
}

.colored-block._green {
    background: #5bb858;
}

.colored-block._green:hover {
    background: #459143;
}

.colored-block._green:active {
    background: #427c43;
}

.colored-block._violet {
    background: #b857b9;
}

.colored-block._violet:hover {
    background: #934094;
}

.colored-block._violet:active {
    background: #7d3f7f;
}

.schemeInn {
    width: 100%;
    height: 0;
    padding-top: 100%;
}

.title_big._mark {
    color: #ef4135;
}

.title_big._risk {
    color: #1f9ab5;
}

.title_big._tech {
    color: #5bb858;
}

.title_big._best {
    color: #b857b9;
}

.circle:hover .num,
.circle._act .num {
    color: #ffffff;
}

.circle._1:hover,
.circle._1._act {
    background: #ef4135;
}

.circle._2:hover,
.circle._2._act {
    background: #1f9ab5;
}

.circle._3:hover,
.circle._3._act {
    background: #5bb858;
}

.circle._4:hover,
.circle._4._act {
    background: #b857b9;
}

.circle:hover {
    z-index: 2;
}

.circle._act {
    z-index: 3;
}

.screenLn {
    cursor: pointer;
}

.popupLn {
    cursor: pointer;
}

.benefits-l {
    font-size: 0.9375rem;
    line-height: 1.34em;
    font-family: gotham_proregular, arial, sans-serif;
    padding-left: 0;
}

.benefits-l-i {
    margin-bottom: 10px;
}

.benefits-ico {
    float: left;
    margin-right: 20px;
}

.benefits-cont {
    overflow: hidden;
    position: relative;
    top: 5px;
}

.benefits {
    margin-bottom: 5%;
}

.extraBenefit {
    text-align: center;
}

/*.extraBenefitText {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.extraBenefitText img {
    display: inline-block;
    vertical-align: top;
}

.extraBenefitText span {
    font-family: 'gotham_promedium', arial, sans-serif;
}*/

.vacancy {
    display: block;
    margin: 0 0 9px;
    list-style: none;
    position: relative;
}

.vacancy-ln {
    position: relative;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 35px 20px 20px;
    display: block;
    font-family: gotham_promedium, arial, sans-serif;
    font-size: 0.9375rem;
    line-height: 1.5em;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}

.vacancy-ln:hover {
    background: #eee;
}

.vacancy-ln::before {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    background: url('../img/arrow.png') no-repeat 0 0;
    width: 11px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    text-indent: -5000px;
}

.vacancy-tx,
.vacancy-city {
    display: inline-block;
}

.vacancy-tx {
    color: #000;
    font-size: inherit;
    line-height: inherit;
}

.vacancy-city {
    font-size: inherit;
    line-height: inherit;
}

.vacancy-city::before,
.vacancy-city::after {
    font-size: inherit;
    line-height: inherit;
    font-family: 'gotham_promedium', arial, sans-serif
}

.vacancy-city::before {
    content: '(';
}

.vacancy-city::after {
    content: ')';
}

.map {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.contactsBox {
    background: rgba(239, 65, 53, 0.9);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 10px solid #ef4135;*/
    min-width: 300px;
    color: #ffffff;
    float: left;
    /*padding: 0.5% 2%;*/
    height: auto;
    font-size: 1rem;
    text-align: left;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.contsCol {
    /*position: absolute;*/
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*left: 12.5%;*/
    /*top: 17.5%;*/
    left: auto;
    top: auto;
}

.contactsBox-l {
    margin-bottom: 0;
}
.contactsBox-l-t {
    margin-bottom: 5px;
    font-family: 'gotham_promedium', arial, sans-serif;
    text-transform: uppercase;
    color: #000;
    padding-left: 2.125rem;
}

.contactsBox-l-tx {
    font-size: 1rem;
    line-height: 1.75em;
    font-family: "gotham_proregular", arial, sans-serif;
    margin: 0 0 1.5rem 0;
    padding: 0 2.125rem;
}

.contactsBox-l-tx-ln {
    color: #ffffff;
    border-bottom: none;
    text-decoration: none;
}

.contactsBox-l-tx p {
    white-space: nowrap;
    line-height: 1.5rem;
    margin-bottom: 0;
}

.social {
    font-size: 0;
}

.socials._shtop {
    white-space: nowrap;
    margin: 10px 0 0;
    padding-top: 1rem;
    padding-bottom: .5rem;
    background: #df4136;

}

.soc-i {
    height: 21px;
    margin-left: 1.3rem;
    background-image: url("../img/social-sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.soc-i:first-child {
    margin-left: 0;
}

.soc-i._lg {
    width: 69px;
}

/*.soc-i img {
    max-width: 100%;
    max-height: 100%;
}*/

.soc-fb {
    background-position: 0 0;
    width: 11px;
}
.soc-fb:hover {
    background-position: 0 -23px;
}

.soc-tw {
    background-position: -37px 0;
    width: 23px;
}

.soc-tw:hover {
    background-position: -37px -23px;
}

.soc-inst {
    background-position: -83px 0;
    width: 21px;
}

.soc-inst:hover {
    background-position: -83px -23px;
}

.soc-g {
    background-position: -127px 0;
    width: 24px;
}

.soc-g:hover {
    background-position: -127px -23px;
}

.soc-devby {
    background-position: -166px 0;
    width: 53px;
}

.soc-devby:hover {
    background-position: -166px -23px;
}

.soc-linkedin {
    background-position: -240px 0;
    width: 20px;
}

.soc-linkedin:hover {
    background-position: -240px -23px;
}

.slide {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    white-space: normal;
    -webkit-backface-visibility: hidden;
}

.slide:before {
    content: "";
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.slideControls {
    z-index: 4;
}

.slideControls._index {
    position: absolute;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.slideControls-arr {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

.slideControls-arr._left {
    margin-right: 10px;
    opacity: 0;
    cursor: default;
}

.slideControls-arr._right {
    margin-left: 40px;
}

.slideControls-arr-inn {
    border: 1px solid #ffffff;
    width: 20px;
    height: 20px;
    position: relative;
    top: -1px;
    left: -16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slideControls-arr._left .slideControls-arr-inn {
    left: 4px;
    top: -1px
}

.slideControls-dots {
    display: inline-block;
}

.slideCont {
    -webkit-transition: all 1.7s;
    -moz-transition: all 1.7s;
    -ms-transition: all 1.7s;
    -o-transition: all 1.7s;
    transition: all 1.7s;
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    -o-transform: translateX(25%);
    transform: translateX(25%);
    opacity: 1;
}

.slideCont._first {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

@media (max-height: 800px) {

}

@media (max-height: 735px) {

    html, body {
        font-size: 14px;
    }

    .page .scheme .circle {
        border-width: 3px;
    }

    .scheme .circle._2 .num {
        right: 20px;
    }

    .scheme .circle._4 .num {
        left: 20px;
    }

    .scheme .circle._3 .num {
        bottom: 20px;
    }

    .scheme .circle._1 .num {
        top: 20px;
    }

    .contsCol {
        left: 5%;
        top: 7.5%;
    }

    .play {
        width: 200px;
        height: 200px;
        top: -25%;
    }
}

@media (max-height: 625px) {

    html, body {
        font-size: 12px;
    }

    .head {
        height: 80px;
    }

    .page {
        padding-top: 129px;
    }

    .schemeWrp {
        top: 149px;
    }

    .page._contacts {
        padding-top: 80px;
    }

    .play {
        width: 150px;
        height: 150px;
        top: -30%;
        border-width: 7px;
    }

    .contsCol {
        left: 2.5%;
        top: 5.5%;
    }
}

@media (max-height: 525px) {

    html, body {
        font-size: 10px;
    }
}

@media (max-width: 1110px) {
    .soc-i {
        height: 21px;
    }
    .contactsBox {
        min-width: 280px;
    }
}

.scrollable {
    position: relative;
    overflow: hidden;
}

.scrollWrp {
    overflow: hidden;
    position: relative;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.scrollBox {
    width: 6px;
    background: #e4e4e3;
    position: absolute;
    height: 100%;
    top: 0;
    right: 5px;
    -webkit-transition: width .4s;
    -moz-transition: width .4s;
    -ms-transition: width .4s;
    -o-transition: width .4s;
    transition: width .4s;
}

.scrollWrp:hover .scrollBox {
    width: 10px;
}

.scrollSlider {
    background: #ef4135;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.pop-cont {
    position: fixed;
    opacity: 0;
    display: none;
    background: #ffffff;
    font-size: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.pop-cont-inn {
    max-width: 1400px;
    margin: auto;
    height: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-inp {
    border: 1px solid #a5a5a5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    padding: 7px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;

}

.text-inp:focus {
    border-width: 2px;
    border-color: #37bb29;
    padding-left: 14px;
    padding-right: 14px;
}

.text-inp._err {
    border-color: #ef4135;
}

.file-inp {
    background: url("../img/clip.png") no-repeat 0 50%;
    line-height: 28px;
    padding-left: 34px;
    position: relative;
    font-size: 1rem;
}


.file-inp input {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.file-inp .attach {
    display: inline-block;
    border-bottom: 1px dotted #222;
}

.file-inp .info {
    color: #a3a3a3;
    font-style: italic;
}

.label {
    margin-top: .5%;
    /*margin-bottom: 6%;*/
    margin-bottom: 0.9375rem;
    width: 90%;
    display: block;
}

.label._sbm {
    margin-top: 1.875rem;
}

.vac-pop-cont {
    padding: 30px 5%;
    width: 70%;
    height: 90%;
    top: 10%;
    left: 15%;
}

.vac-pop-cont .pop-cont-inn > h2 {
    font-size: 1.8rem;
    margin-bottom: .65em;
}
.vac-pop-cont .pop-cont-inn > h6 {
    text-transform: uppercase;
    color: #A1A1A1;
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
}

.pop-cont._librery {
    padding: 115px 5% 5%;
}

.form-note {
    font-size: 1rem;
    line-height: 1.875rem;
    color: #ef4135;
}

.wysiwyg {
    font-family: 'gotham_proregular', arial, sans-serif;
    font-size: 1rem;
}

.wysiwyg p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 0 25px;
}

.wysiwyg ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wysiwyg li {
    margin-bottom: 25px;
    padding-left: 33px;
    position: relative;;
}

.wysiwyg strong {
    font-family: "gotham_promedium", arial, sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
    display: block;
}

.wysiwyg li:before {
    position: absolute;
    content: "";
    top: 7px;
    left: 0;
    width: 8px;
    height: 8px;
    background: #222;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.pop-close {
    position: absolute;
    color: #ef4135;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875rem;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 2;
    opacity: 0.7;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -ms-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}

.pop-close:hover {
    opacity: 1;
}

.pop-close-ico {
    width: 38px;
    height: 39px;
}

.pop-close-tx {
    display: inline-block;
    vertical-align: middle;
    margin-right: 22px;
    font-size: 14px;
    font-family: gotham_prolight, arial, sans serif;
    text-transform: uppercase;
}

.btn._sbm {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.gal-thumb {
    height: 100%;
    width: 100%;
    position: relative;
}

.gal-i {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    background: center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    opacity: 0;
    -webkit-transform: translateZ(0) translateY(-50%);
    -moz-transform: translateZ(0) translateY(-50%);
    -ms-transform: translateZ(0) translateY(-50%);
    -o-transform: translateZ(0) translateY(-50%);
    transform: translateZ(0) translateY(-50%);
    font-size: 0;
    text-align: center;
}

.gal-i._act {
    z-index: 3;
    opacity: 1;
}

.gal-i:before {
    position: relative;
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.gal-i._ftrs {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.gal-i._trs {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.gal-pop-cont {
    background: none;
    text-align: center;
}

.btns-box {
    margin-bottom: 1em;
}

.gal-arrs-wrp {
    height: 100%;
    width: 14%;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.gal-arrs-wrp._left {
    left: -14%;
}

.gal-arrs-wrp._right {
    right: -14%;
}

.gal-arrs-wrp:hover {
    background: rgba(0, 0, 0, .04);
}

.gal-arrs-i {
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    margin-left: -29px;
    opacity: 1;
    -webkit-transition: opcaity 0.4s;
    -moz-transition: opcaity 0.4s;
    -ms-transition: opcaity 0.4s;
    -o-transition: opcaity 0.4s;
    transition: opcaity 0.4s;
    color: #ef4135;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.gal-arrs-i._left {
    border-bottom: 1px solid #ef4135;
    border-left: 1px solid #ef4135;
    left: -50px;
}

.gal-arrs-i._right {
    border-top: 1px solid #ef4135;
    border-right: 1px solid #ef4135;
    right: -78px;
}

.gal-pag {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 10%;
    z-index: 5;
}

.gal-pag-i {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 5px solid rgba(255, 255, 255, .5);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.gal-pag-i:hover {
    border-color: #ffffff;
}

.gal-pag-i:not(._act) {
    cursor: pointer;
}

.gal-pag-i._act {
    border-color: #ffffff;
}

.gal-i-pic {
    max-height: 70%;
    max-width: 70%;
    display: inline-block;
    vertical-align: middle;
}

._centCont {
    text-align: center;
}

.openings._centered {
    text-align: justify;
    margin: 0 auto 1.5em;
    text-align-last: center;
}

.success-msg {
    display: none;
}

.success-msg-pic {
    display: inline-block;
    vertical-align: middle;
}

.sccess-msg-note {
    font-size: 24px;
    line-height: 1.2em;
    font-family: "gotham_proregular", arial, sans-serif;
}

.success-msg-wrp {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.success-msg-pic {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}

.sccess-msg-note {
    display: table-cell;
    vertical-align: middle;
}

.success-msg-tx {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    line-height: 1.3em;
}

.vacancyTitle {
    width: 450px;
    font-weight: normal;
    margin: 0 auto 30px;
    text-align: center;
}

.vacancy-num {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -42px;
    font-size: 19px;
}

.gal-pop-cont._librery {
    background: #ffffff;
    color: #000000;
    padding-bottom: 1.5rem;
}

.pop-cont-inn._librery {
    padding: 0;
    width: 76%;
}

.librery-pic {
    max-width: 100%;
    /*border: 5px solid #ef4135;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 100%;
    margin-bottom: 30px;
}

.btn._librery {
    margin-bottom: 10px;
}

.librery-info {
    font-family: gotham_prolight, arial, sans serif;
    font-size: 1.375rem;
    line-height: 1em;
    margin-bottom: 1em;
}

.scroll-wrp {
}

.cols._librery {
    position: relative;
}

.librery-counter {
    font-size: 14px;
    color: #797979;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: gotham_prolight, arial, sans-serif;
    position: absolute;
    left: 27px;
    top: 42px;
}

.librery-item {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.librery-item._trs {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.librery-item._act {
    visibility: visible;
    opacity: 1;
}

.gal-arrs-i {

}

.col._gallery {
    position: relative;
}

.cultureGallery .popupLn {
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
}

.cultureGallery p {
    font-family: 'gotham_promedium', arial, sans-serif;
    line-height: 1.375rem;
    margin-bottom: 0;
}

.cultureGallery p.labelAlbum {
    font-family: "gotham_proregular", arial, sans-serif;
    color: #868686;
    font-size: 0.875rem
}


.candidate-form p {
    font-size: 0.825rem;
    line-height: 1.4rem;
    color: #a1a1a1;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.candidate-form h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

/*style upd from alex p*/
.btn-transp {
	background: rgba(164, 164, 164, 0.2);
	border-radius: 5px;
	color: #ffffff;
	text-decoration: none;
	font-family: gotham_promedium, arial, sans-serif;
	font-size: 0.875rem;
	line-height: 1em;
	padding: 1.313rem 2rem;
	border: 4px solid #fff;
	display: inline-block;
	outline: none;
	text-transform: uppercase;
	-webkit-transition: background .2s;
	-moz-transition: background .2s;
	-ms-transition: background .2s;
	transition: background .2s;
	min-width: 16.63rem;
}
.btn-transp-sm {
    min-width: 5.375rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem; 
}
.awardsCont {
    width: 50%;
    margin: 0 auto 8%;
    font-size: 0;
    text-align: center;
}
.awardsCont .pic {
    display: inline-block;
    vertical-align: top;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.awardsCont .pic img {
    margin-left: -65px;
}
/*.awardsCont .pic {
    text-align: right;
    padding-right: 5%;
}*/
.awardsCont .text {
    text-align: left;
    padding-left: 5%
    font-size: 1.875rem;
    font-family: gotham_prolight, arial, sans-serif;
    text-transform: uppercase;
}
.awardsCont .text p {
    font-size: 30px;
    line-height: 36px;
    margin-top: -2px
}
.awardsCont .text sup {
    color: #838383;
    font-size: 16px;
    font-family: gotham_proregular, arial, sans-serif;
    top: -1.2em;
}
.awardsCont .text strong {
    font-family: gotham_promedium, arial, sans-serif;
    display: inline-block;
    padding-bottom: 2px;
}
.awardsContAlt {
    margin: 0 auto 4%;
    border: 1px solid;
    position: relative;
    display: inline-block;
    text-align: left;
    min-width: 17.19rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 1.438rem 2.063rem 0.9375rem;
}
.awardsContAlt:before {
    position: absolute;
    z-index: -1;
    border: 3px solid;
    top: -9px;
    right: -9px;
    bottom: -9px;
    left: -9px;
    display: block;
    content: "";
}
.awardsContAlt p,
.scrollCont .awardsContAlt p {
    font-size: 1.5rem;
    line-height: normal;
    margin-top: -2px;
    font-family: gotham_prolight, arial, sans-serif;
    margin: 0;
}
.awardsContAlt strong {
    font-family: gotham_promedium, arial, sans-serif;
}
.awardsContAlt span {
    color: #838383;
    font-size: 1.125rem;
    font-family: gotham_proregular, arial, sans-serif;
}
.tab-cont .title_big {
    font-family: gotham_proregular, arial, sans-serif;
    font-weight: normal;
    font-size: 1.875rem;
    margin-top: -7px;
}
.btnStickBottomHolder {
    position: absolute;
    width: 32%;
    bottom: 0;
    text-align: center;
    left: 50%;
    margin-left:-17%;
}
.btnStickBottomHolder .btn {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-left: 5px;
}
.richTextContent h3 {
    font-size: 1.875rem;
    margin-bottom: 1.563rem;
}
.richTextContent .screen-cont p {
    margin-bottom: 1.75rem;
}
.richTextContent .btnStickBottomHolder p {
    margin-bottom: 10px;
}
.expProduct {
    text-align: center;
}
.expProduct:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.expPrice,
.expStation {
    display: inline-block;
    vertical-align: middle;
    margin-top: -10%;
    text-indent: -90000px;
}
.expProduct:hover .expPrice,
.expProduct:hover .expStation {
    background-position: left bottom;
}
.expPrice {
    background: url("../img/exp-price.png") left top no-repeat;
    width: 225px;
    height: 308px;
}
.expStation {
    background: url("../img/exp-station.png") left top no-repeat;
    width: 257px;
    height: 304px;
}
.productImage {
    border-radius: 4px;
    padding: 2% 1% 0 1%;
    margin: 8px 7% 1px 0;
}
.productExpPrice .productImage {
    box-shadow: 0 0 0px 1px #1B8869;
}
.productExpStation .productImage {
    box-shadow: 0 0 0px 1px #0060ff;
}
.productImage .pic {
    min-height: 18.75rem;
    line-height: 18.75rem;
    vertical-align: middle;
    text-align: center;
}
.productImage .text {
    padding-left: 3.3%;    
}
.productImage .text p {
    font-family: 'gotham_promedium';
    font-size: 1.125rem;
    padding: 3% 0 0 11%;
}
.productDescr {

}
.productDescr p {
    margin-bottom: 0.9375rem;
}
.productDescr p:first-child {
    font-family: gotham_proregular, arial, sans-serif;
}